body{
    background-color: papayawhip;
    margin: 130px;
    text-align: center;
}
h1{
    color: orange;
    font-size: 80px;
}
p{
    color: purple;
    font-size: 90px;
}
input{
    margin: 5px;
    width: 300px;
    height: 22px;
}
h3{
    margin: 0%;
    color: orange;
}
select{
    width: 300px;
}